main {
  background: #282c34;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #282c34;
  color: #ccc;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sign-in,
.sign-out {
  margin-top: 20px;
  position: relative;

  /* button styles */
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sent {
  color: #4caf50;
  /* sent message styles */
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.received {
  color: #4caf50;
  /* received message styles */
  background-color: #ede7f6;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
form {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  opacity: 0.7;
}

input:focus {
  outline: none;
  opacity: 1;
}

.send-button {
  width: fit-content;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding-top: 10px;
}
